APP_PORT=8080
APP_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=
DB_NAME=rawat_kasih

JWT_SECRET=your-secret-key-change-this-in-production
JWT_EXPIRE_HOURS=72

SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_KEY=
